.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.title {
  font-weight: 600;
  text-transform: uppercase;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
