@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

:root {
  --bg-color: #ffffff;
  --bg-alt-color: #f5f5f5;
  --text-color: #222;
  --border-color: #000;
  --positive-color: #067d06;
  --negative-color: #ba1b1d;
  --tooltip-bg: #000;
  --tooltip-text: #fff;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
}

body.dark {
  --bg-color: #1e1e1e;
  --bg-alt-color: #2a2a2a;
  --text-color: #f0f0f0;
  --border-color: #444;
  --positive-color: #30ff70;
  --negative-color: #ff6768;
  --tooltip-bg: #222;
  --tooltip-text: #f0f0f0;
}

html,
body,
#root {
  height: 100vh;
}

body {
  margin: 0;
}
